/* $Id: local.css 7 2010-03-01 21:55:46Z jo $ */ 
/* Local style additions */

#main {
  width:45em; 
}

p, ul {
  margin-left:2em;
}
pre {
  margin-left:4em  
}
/* Overwrite the givem menu size */
.menu {
  width:52em; 
  padding-bottom:7em;
}


